version: '3.8'

services:
  # Base de Datos PostgreSQL
  db:
    image: postgres:16-alpine
    container_name: uni_tracker_db
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: adminpassword
      POSTGRES_DB: uni_tracker
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # Interfaz visual para la BD (Opcional, pero muy útil para debuggear rápido)
  pgadmin:
    image: dpage/pgadmin4
    container_name: uni_tracker_pgadmin
    restart: always
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    depends_on:
      - db

volumes:
  postgres_data: