version: '3.8'

services:
  # Base de Datos PostgreSQL
  db:
    image: postgres:16-alpine
    container_name: uni_tracker_db
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: ${DB_USER}      # <--- Lee del .env
      POSTGRES_PASSWORD: ${DB_PASSWORD} # <--- Lee del .env
      POSTGRES_DB: ${DB_NAME}        # <--- Lee del .env
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: uni_tracker_pgadmin
    restart: always
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: ${DB_USER}@admin.com 
      PGADMIN_DEFAULT_PASSWORD: ${DB_PASSWORD}
    depends_on:
      - db

volumes:
  postgres_data: